<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechnoSphere_2025.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TechnoSphere_2025.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TechnoSphereBD"
             connectionString="Data Source=KAPETTO;Initial Catalog=TechnoSphere_2025;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
             providerName="Microsoft.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <TechnoSphere_2025.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="RememberToken" serializeAs="String">
                <value />
            </setting>
        </TechnoSphere_2025.Properties.Settings>
        <TechnoSphere_2025.Settings>
            <setting name="Theme" serializeAs="String">
                <value>System</value>
            </setting>
        </TechnoSphere_2025.Settings>
    </userSettings>
</configuration>